@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f4f8;
}

#logo-txt {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  bottom: -18px;
}
.offcanvas-header {
  margin-bottom: 0px;
  padding: 22px 26px;
  height: 125px;
  background-image: linear-gradient(
    to left,
    rgb(28, 171, 162),
    rgb(28, 127, 171)
  );
}
#jumbotron {
  height: 580px;
  background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_BG_1.png");
}
#carousel1,
#carousel2,
#carousel3 {
  height: 580px;
  width: 100%;
  text-align: center;
}
#carousel1 {
  background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_BG_1.png");
}
#carousel2 {
  background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_LT_BG_2.png");
}
#carousel3 {
  background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_LT_BG_3.png");
}
.carousel-item img {
  width: 30%;
  /* height: 50%; */
}
#carousel1 img,
#carousel2 img,
#carousel3 img {
  position: absolute;
  top: 20%;
  left: 60%;
}
#featured,
#sanitized,
#happyCustomers {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
#featured > div,
#sanitized > div {
  padding: 5px 0;
  text-align: center;
}
#happyCustomers > div > div {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 12px;
  background-color: white;
  height: 320px;
  overflow: hidden;
  position: relative;
  /* padding-bottom: 5em; */
  /* margin: 10px; */
}
#happyCustomers > div > div > img {
  position: absolute;
  height: 30px;
  width: 40px;
  right: 16px;
  bottom: 13.4px;
}

#featured img,
#sanitized img {
  width: 95%;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 12px;
}
.angle img {
  width: 24px;
  height: 24px;
}
#faqs,
#app,
#journey,
#investors,
#cities,
#footer {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 12px;
  background-color: white;
}

#mob-img {
  background-image: url("http://www.revv.co.in/assets/RentalImages/HomeScreen/rental2021/downloadApp/xapp_preview_desk.png.pagespeed.ic.SlqPBPQ6An.png");
  background-repeat: no-repeat;
}
.heading {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 600;
  color: rgba(152, 166, 179, 0.81);
  margin-bottom: 16px;
}
.para {
  line-height: 1.43;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.75;
}
section ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
section li {
  position: relative;
  color: #5d5e6f;
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.5;
}
section li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: rgba(28, 171, 162, 0.4);
  border-radius: 50%;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 500px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  position: absolute;
  top: 11%;
  left: 10%;
  z-index: 10;
  background-color: white;
  border-radius: 20px;
  padding: 3rem;
}
#form > div:nth-child(1) {
  margin: 0 0 32px;
  border-radius: 18px;
  border: 4px solid #49a6ba;
  background-color: #49a6ba;
  /* height: 87px; */
}
#form > button {
  background-image: linear-gradient(
    to left,
    rgb(28, 171, 162) 25%,
    rgb(28, 127, 171)
  );
  border-radius: 100px;
  width: 100%;
  height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-top: 30px;
  color: white;
}
#form > div > div > div {
  box-shadow: 0 7px 6px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  margin: 4px 5px 0;
  cursor: pointer;
}
#form > div > div > div > h2 {
  /* font-size: 20px; */
  /* font-weight: 700; */
  text-align: center;
  line-height: 1.4;
}
#form > div > div > div > p {
  /* font-size: 14px; */
  /* font-weight: 400; */
  line-height: 1;
  text-align: center;
  margin: 0;
}
#form > div:nth-child(3) {
  border: 1px solid #c6c7d6;
  border-radius: 12px;
  margin: auto 10px;
  /* padding: 20px; */
}
#form > div:nth-child(3) > div {
  padding: 15px;
}
#form > div:nth-child(3) > div:nth-child(1) {
  border-bottom: 1px solid #c6c7d6;
}
#form > div:nth-child(3) > div:nth-child(2) {
  border-right: 1px solid #c6c7d6;
}
#form img {
  height: 28px;
}

.cb {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 12px;
  background-color: white;
  height: 150px;
  padding: 2em 1em;
}
#app {
  height: 350px;
  margin: 30px 0px;
}
#app > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app a {
  text-decoration: none;
}
#app > div > div img {
  width: 196px;
  height: 62px;
}

#journey {
  padding: 3em;
}

#journey > div {
  text-align: center;
}

#journey h2 {
  font-size: 22px;
  line-height: 1.73;
  font-weight: 600;
  margin: 0;
}

#journey img {
  height: 60px;
  margin-bottom: 2em;
}

#investors {
  padding: 4em;
}

#investors > div {
  text-align: center;
  /* padding: 5em; */
}

#investors img {
  height: 100px;
  margin-bottom: 2em;
}

#cities {
  margin: 2em auto;
  padding: 2em 5em;
}

#footer {
  margin: 2em auto;
  padding: 4em;
}
#footer > div > div:nth-child(1) img {
  width: 96px;
}
#footer > div > div:nth-child(3) {
  text-align: center;
}
/* #footer > div > div:nth-child(3) {
  padding-left: 5rem;
  padding-right: 5rem;
} */

.icons {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  /* margin-bottom: 1em; */
}
.icons > a {
  color: grey;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 8px;
}
.icons > a:hover {
  color: white;
  background-color: teal;
  border-radius: 50%;
}
.download {
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  padding: 10px;
}
.download img {
  width: 23px;
  height: 1/1;
}
.download > a {
  text-decoration: none;
  color: black;
}
.sub-heading {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}

.link a:hover {
  color: teal;
  cursor: pointer;
}
.modal1 {
  border-radius: 12px;
}
.city {
  font-size: 16px;
  line-height: 1.15;
  cursor: pointer;
  color: #282b33;
  margin: 0;
  padding: 0.5em;
  border-radius: 12px;
}
.city:hover {
  color: #0dbaba;
  background-color: #cbe3e8;
}
#demos {
  margin-top: 50px;
}
.owl-nav {
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 16px;
  }
  .para {
    font-size: 12px;
  }
  .sub-heading {
    font-size: 14px;
  }

  #footer {
    padding: 2em;
  }
  #happyCustomers > div > div {
    height: 250px;
  }
  #app > div > div img {
    width: 119px;
    height: 38px;
  }
  #mob-img {
    height: 135px;
    background-size: contain;
    background-position: center;
    align-self: flex-end;
  }
  #form {
    position: relative;
    z-index: 0;
    width: 95%;
    /* width: auto; */
    left: -6px;
    padding: 1em;
    margin: 1em;
  }
}
